.bg-light{
    background:#f8f8f8 !important
}
.textAddress{
    font-weight: 400;
    font-size: 11px;
    color: #9bc7bb;
}

.texttextTitle{
    font-weight: 900;
    font-size: 14px;
    color: #000;
}
.texttextPrice{
    font-weight: 400;
    font-size: 11px;
    color: #383c42;
}
.bg-lightblue{
    background:#ebf2f0 !important
}
.slideScroll{
    height: 80vh;
    overflow-x: auto;
}
.btn-danger{
    background-color: #C72A17 !important;
}
.bg-heart{
    background: #9bc7bb!important;
}