.list_item{
    width: 3.08rem;
    height: 3.68rem;
    position: relative;
    margin-right: .272rem;
    margin-bottom: .24rem;
    &:last-child{
        margin-right: 0;
    }
    .item_img {
        width: 2.48rem;
        height: 2.48rem;
        object-fit: cover;        
    }
    .item_msg {
        width: 2.812rem;
        position: absolute;
        bottom:0.32rem;
        right: 0;
        background-color: #fff;
        padding: .16rem;
        letter-spacing: 0;
        height: 1.22rem;
        .personName {
            font-size: .16rem;
            font-family: 'Noto';
            color: #000;
            margin-bottom: .096rem;
            line-height: 1.2;
        }
        .personInfo {
            font-size: .128rem;
            color: #C72A17;
            margin-bottom: .096rem;
            line-height: 1.2;
            letter-spacing: .5px;
        }
        .contact {
            display: flex;
            align-items: center;
            margin-bottom: .08rem;
            &:last-child{margin-bottom: 0;}
            img{
                width: .128rem;
            }
            span {
              a {
                color: #000;
              }
                font-size: .096rem;
                font-family: 'Noto';
                color: #000;
                margin-left: .096rem;
                    word-break: break-all;
                line-height: 1.2;
            }
        }
    }
  }

  @media screen and (max-width: 767px){
    .list_item{
        width: 100%;
        height: 11.1111rem;
        margin-right: 0;
        margin-bottom: .7246rem;
        .item_img{
            width: 7.4879rem;
            height: 7.4879rem;
        }
        .item_msg{
            width: 7.3768rem;
            padding: .4831rem;
            height: 4.2rem;
            .personName{
                font-size: .4831rem;
                margin-bottom: .2899rem;
              }
              .personInfo{
                font-size: .3865rem;
                margin-bottom: .2899rem;
              }
              .personQc{
                width: 2.0048rem;
                margin-bottom: .2899rem;
              }
              .contact{
                margin-bottom: .2415rem;
                img{
                    width: .3865rem;
                  }
                  span{
                    font-size: .2899rem;
                    margin-left: .2899rem;
                  }
              }
        }
    }
  }

  @media (min-width:768px) and (max-width: 992px){
    .list_item{
        width: 100%;
        height: 11.1111rem;
        margin-right: 0;
        margin-bottom: .7246rem;
        .item_img{
            width: 7.4879rem;
            height: 7.4879rem;
        }
        .item_msg{
            width: 7.3768rem;
            padding: .4831rem;
            height: 4.2rem;
            .personName{
                font-size: .4831rem;
                margin-bottom: .2899rem;
              }
              .personInfo{
                font-size: .3865rem;
                margin-bottom: .2899rem;
              }
              .personQc{
                width: 2.0048rem;
                margin-bottom: .2899rem;
              }
              .contact{
                margin-bottom: .2415rem;
                img{
                    width: .3865rem;
                  }
                  span{
                    font-size: .2899rem;
                    margin-left: .2899rem;
                  }
              }
        }
    }
  }
