$color_1: #1D1D1D;
$color_2: #000;
$color_3: #585858;
$color_4: #fff;
$color_5: red;
$font-family_1: 'Noto';
$background-color_1: #EBF0F3;
$background-color_2: #fff;
$background-color_3: #C72A17;
$background-color_4: #FDECEA;
$border-color_1: #EF4A3C;

.contact {
	padding: 0.6rem 0;
    background-color: #F6F6F6;
	&.contactPage{padding: 0;}
	>div {
		position: relative;
		height: 7.28rem;
		>.contact_info {
			width: 52%;
			padding: .4rem;
			padding-right: 0;
			background-color: $background-color_1;
			>.info_box {
				width: 80%;
				margin-top: .24rem;
				font-size: .128rem;
				color: $color_1;
				>p {
					font-size: .128rem;
					color: $color_1;
					margin-bottom: 1.5em;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		>.contact_right {
			width: 52%;
			background-color: $background-color_2;
			position: absolute;
			right: 0;
			bottom: 0;
			padding: .36rem .48rem;
			>form {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				>div {
					width: 48%;
					margin-bottom: .24rem;
					position: relative;
					>.input_title {
						font-size: .16rem;
						font-family: $font-family_1;
						color: $color_2;
						margin-bottom: 0;
						line-height: 2.6;
					}
					>.form_item {
						width: 100%;
						font-size: .144rem;
						color: $color_2;
						line-height: .416rem;
						border: solid 1px #1D1D1D;
						padding: 0 .08rem;
						outline: none;
					}
					>span {
						position: absolute;
						bottom: 0;
						left: 0;
						transform: translateY(100%);						
					}
					>div.error {
						display: block;
						>span {
							display: block;
							font-size: .112rem;
							color: $color_5;
						}
						>.form_item {
							border-color: $border-color_1;
							background-color: $background-color_4;
						}
					}
				}
				>.text {
					width: 100%;
				}
				
				>p {
					font-size: .112rem;
					color: $color_3;
					margin-bottom: .24rem;
				}
				>button {
					padding: .064rem .16rem;
					padding-right: .096rem;
					background-color: $background-color_3;
					border: none;
					display: flex;
					align-items: center;
					>span {
						font-size: .112rem;
						color: $color_4;
						letter-spacing: .024rem;
					}
					>img {
						width: .224rem;
						margin-left: .08rem;
					}
				}
			}
			
		}
	}
}

@media screen and (max-width: 767px){

.contact {
	>div {
		padding: 0;
		height: auto;
		>.contact_info {
			width: 100%;
			padding: 1.087rem 15px;
			padding-top: 1.4493rem;
			>.info_box {
				margin: 0;
				width: 100%;
				font-size: .3382rem;
				>p {
					font-size: .3382rem;
				}
			}
		}
		>.contact_right {
			position: static;
			width: 100%;
			padding: 1.087rem 15px 1.4493rem;
			>form {
				>div {
					width: 100%;
					margin-bottom: .7971rem;
					>.input_title {
						font-size: .4831rem;
					}
					>.form_item {
						font-size: .4348rem;
						padding: .4348rem .3623rem;
					}
					>div.error {
						>span {
							font-size: .3382rem;
							transform: translateY(110%);
						}
					}
				}
				
				>.text {
					>textarea {
						height: 3.285rem;
					}
				}
				>p {
					font-size: .3382rem;
					margin-bottom: .9662rem;
				}
				>button {
					padding: .1932rem .4831rem;
					padding-right: .2415rem;
					>span {
						font-size: .3382rem;
					}
					>img {
						width: .6763rem;
						margin-left: .2415rem;
					}
				}
			}
			
		}
	}
}

}
