.errorPage{
    position: relative;
    padding: 60px 0;
    background-color: #f8f8f8;
    .errorMainBox{
        position: relative;
        background-color: #fff;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img{
            margin-bottom: .3rem;
        }
        h1{
            font-size: .8rem;
            margin-bottom: .3rem;
        }
        p{
            font-size: .16rem;
            margin-bottom: 0.24rem;
        }
        a{
            padding: 0.064rem 0.16rem;
            padding-right: 0.096rem;
            background-color: #C72A17;
            border: none;
            display: flex;
            align-items: center;
            font-size: 0.112rem;
            color: #fff;
            letter-spacing: 0.024rem;
        }
    }
}
@media only screen and (max-width: 767px) {
    .errorPage {
        .errorMainBox {
            p{
                font-size: 12px;
                text-align: center;
            }
            a {
                padding: .1932rem .2415rem .1932rem .4831rem;
                font-size: 14px;
            }
        }
    }
  }