.content {
    padding-top: 70px;
    padding-bottom: 55px;
    background-color: #F8F8F8;
    .my_row {
        display: flex;
        justify-content: space-between;
        .content_left{
            width: 187.5px;
            h4{
                font-size: 16.66667px;
                font-family: 'Noto';
                color: #2C4D1C;
                margin-bottom: 21px;
              }
              ul{
                margin: 0;
                li{
                    margin-bottom: 17px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    a{
                        padding: 3.47222px 0;
                        font-size: 12.5px;
                        color: #777777;
                        &.active{
                            color: #2C4D1C;
                            border-bottom: solid 1px #2C4D1C;
                          }
                      }
                  }
              }
          }
          .content_right{
            width: 100%;
            flex: 1;
            margin-left: 70px;
            h1{
                font-size: 36.11111px;               
                font-family: 'Noto';
                color: #2C4D1C;
                margin-bottom: 24.30556px;
              }
              h2{
                font-size: 36.11111px;               
                font-family: 'Noto';
                color: #2C4D1C;
                margin-bottom: 24.30556px;
              }
              .detail{
                p{
                    font-size: 12.5px;
                    color: #1D1D1D;
                    margin-bottom: 21px;
                  }
                ul{
                    margin-bottom: 21px;
                    li{
                        font-size: 12.5px;
                        color: #1D1D1D;
                        margin-bottom: 10px;
                        margin-left: 20px;
                        list-style: initial;
                        h3{
                            font-size: 14.5px;
                            font-family: 'Noto';
                            color: #1D1D1D;
                            margin-bottom: 15px;
                          }
                        p{
                            font-size: 12.5px;
                            color: #1D1D1D;
                            margin-bottom: 21px;
                            span{
                                font-size: 12.5px;
                                display: block;
                                &.bold{
                                    display: inline;
                                    font-weight: bold;
                                    font-family: 'Noto';
                                  }
                                &.openCookie{
                                    display: inline;                                
                                    font-family: 'Noto';
                                    cursor: pointer;
                                    text-decoration: underline;
                                  }
                              }
                          }
                      }
                  }
                  h2{
                    font-size: 16.66667px;                
                    font-family: 'Noto';
                    color: #1D1D1D;
                    margin-bottom: 21px;
                  }
                  h3{
                    font-size: 14.5px;                
                    font-family: 'Noto';
                    color: #1D1D1D;
                    margin-bottom: 15px;
                  }
              }
          }
    }
}

@media screen and (max-width: 767px) {
  .content{
    padding: 1.9323671rem 0;
    .my_row{
      flex-wrap: wrap;
      .content_left{        
        width: 100%;
        h4{
          font-size: .77295rem;
          margin-bottom: .72464rem;
        }
        ul{
          li{
            margin-bottom: .48309rem;
            a{
              font-size: .48309rem;
              padding: .14493rem 0;
            }
          }
        }
      }
      .content_right{
        width: 100%;
        margin-left: 0;
        margin-top: 1.44928rem;
        h2{
          font-size: .7729469rem;
          margin-bottom: .9661836rem;
        }
        .detail{
          h2{
            font-size: .5797101rem;
            margin-bottom: .8454106rem;
          }
          h1{
            font-size: .5797101rem;
            margin-bottom: .8454106rem;
          }
          h3{
            font-size: .46rem;
            margin-bottom: .4rem;
          }
          p{
            font-size: .4347826rem;
            margin-bottom: .8454106rem;
            span{
              font-size: .4347826rem;
              .openCookie{
                font-size: .4347826rem;
              }
            }
          }
          ul{
            margin-bottom: .8454106rem;
            li{
              font-size: .4347826rem;
              margin-bottom: .5rem;
              h3{
                font-size: .46rem;
                margin-bottom: .4rem;
              }
              p{
                font-size: .4347826rem;
                margin-bottom: .8454106rem;
              }
            }
          }
        }
      }
    }
  }
}