$color_1: #fff;
$color_2: #000;
$color_3: #EF4A3C;
$font-family_1: 'Noto';
$background-color_1: #fff;
$background-color_2: #ececec;
$background-color_3: #eee;
$background-color_4: #FDECEA;
$background-color_5: #C72A17;
$border-color_1: #EF4A3C;
$border-top-color_1: transparent;
$border-left-color_1: transparent;
$border-left-color_2: #EF4A3C;

.properties {
	position: relative;
	padding-top: .08rem;
	padding-bottom: 1.10rem;
	background-color: #f8f8f8;
}

.top_msg {
	padding-top: .8rem;
	padding-bottom: .24rem;
	background-color: #F8F8F8;

	div {
		.eventSticky {
			align-items: flex-start;
		}
	}
}

.pageTitleBox {
	position: relative;

	.pageTitle {
		font-size: .36rem;
		font-family: 'Noto';
		line-height: 1.4;
		color: #000;
		margin-bottom: 0;
	}

	p {
		font-size: .144rem;
		color: #1D1D1D;
		margin-top: .08rem;
		margin-bottom: .32rem;
	}
}

.left_content {
	padding-right: .24rem;

	.event {
		&.s_bg {
			background-color: #EBF2F0;
		}

		img {
			width: 100%;
			height: auto;
		}

		.event_content {
			width: 100%;
			padding: 0 .24rem;
			padding-bottom: .24rem;
			margin-top: .24rem;

			h3 {
				font-size: .256rem !important;
				font-family: 'Noto' !important;
				color: #000 !important;
				margin-bottom: .208rem !important;
				margin-top: .24rem !important;
			}

			h4 {
				font-size: .144rem !important;
				color: #1D1D1D !important;
				margin-bottom: .176rem !important;
				line-height: 1.4 !important;
			}

			h2 {
				font-size: .256rem !important;
				font-family: 'Noto' !important;
				color: #000 !important;
				margin-bottom: .208rem !important;
				margin-top: .24rem !important;
			}

			h5 {
				font-size: .144rem !important;
				color: #1D1D1D !important;
				margin-bottom: .176rem !important;
				line-height: 1.4 !important;
			}

			h6 {
				font-size: .144rem !important;
				color: #1D1D1D !important;
				margin-bottom: .176rem !important;
				line-height: 1.4 !important;

			}

			h4 {
				font-size: .144rem !important;
				color: #1D1D1D !important;
				margin-bottom: .176rem !important;
				line-height: 1.4 !important;
			}

			p {
				font-size: .144rem !important;
				color: #1D1D1D !important;
				margin-bottom: .176rem !important;
				line-height: 1.4 !important;
				font-family: "PingFang SC", "Microsoft YaHei", "STSong", "SimSun", Arial, sans-serif !important;

				&:last-child {
					margin-bottom: 0;
				}
			}

			span {
				font-size: .144rem !important;
				color: #1D1D1D !important;
				line-height: 1.4 !important;
				font-family: "PingFang SC", "Microsoft YaHei", "STSong", "SimSun", Arial, sans-serif !important;
			}
		}
	}
}

.login_box {
	position: sticky;
	top: 0.92rem;

	>.login {
		>.time_box {
			display: flex;

			>.days_box {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: .16rem;

				&.bg {
					background-color: #9bc7bb;
				}

				>.days_content {
					>.days_row {
						display: flex;
						flex-direction: column;
						justify-content: center;

						>.day {
							font-size: .16rem;
							color: $color_1;
							font-family: $font-family_1;
							margin: 0;
						}

						>span {
							font-size: .16rem;
							color: $color_1;
							font-family: $font-family_1;
							line-height: 1;
							margin: .08rem 0;
						}
					}

					>.month {
						font-size: .192rem;
						font-family: $font-family_1;
						color: $color_1;
						text-align: right;
						margin: 0;
					}
				}
			}

			>.time_info {
				padding: .24rem .16rem;
				flex: 1;

				&.s_bg {
					background-color: #EBF2F0;
				}

				>p {
					font-size: .128rem;
					color: $color_2;
					line-height: 1.3;
					padding-left: .28rem;
					background-repeat: no-repeat;
					background-size: .2rem auto;
					background-position: left center;
					margin: 0;
				}

				>p.time_val {
					background-image: url('../../../../public/images/time_icon.png');
					margin-bottom: 1.2em;
				}

				>p.location {
					background-image: url('../../../../public/images/position_5.png');
					background-position: left top;
				}
			}
		}

		>.form_box {
			background-color: $background-color_1;
			padding: .32rem .24rem;
			padding-top: 0;
			margin-top: .24rem;
			overflow-y: scroll;
			height: 4.4rem;
			position: relative;

			>h4 {
				font-size: .192rem;
				font-family: $font-family_1;
				color: $color_2;
				padding-top: .32rem;
				padding-bottom: 1.5em;
				position: sticky;
				top: 0;
				z-index: 1;
				background-color: $background-color_1;
			}

			>form {
				>div {
					position: relative;
					margin-bottom: .32rem;

					>.input_title {
						font-size: .144rem;
						color: $color_2;
						margin-bottom: .08rem;
					}

					>input {
						width: 100%;
						font-size: .144rem;
						padding: .12rem .104rem;
						border: solid 1px #1D1D1D;
						outline: none;
					}

					>span {
						display: block;
						font-size: .112rem;
						color: $color_3;
					}

					>textarea {
						height: 1.285rem;
						width: 100%;
						padding: 10px;
					}
				}

				>div.phone {
					>.item_box {
						display: flex;
						border: solid 1px #1D1D1D;

						>.select_box {
							width: .8rem;
							display: flex;
							align-items: center;
							position: relative;
							padding: 0 .08rem;

							>.show_option {
								width: 100%;
								flex: 1;
								display: flex;
								align-items: center;
								position: relative;
								cursor: pointer;
								user-select: none;

								&::after {
									content: '';
									display: block;
									width: 0;
									height: 0;
									border: solid 3px #000;
									border-left-color: $border-left-color_1;
									border-top-color: $border-top-color_1;
									position: absolute;
									right: .032rem;
									top: 50%;
									transform: rotate(45deg) translateY(-75%);
								}

								>.country {
									width: .16rem;
									margin-right: .04rem;
								}

								>.country.null {
									opacity: 0;
								}

								>.val {
									font-size: .12rem;
								}
							}

							>.options {
								display: none;
								height: 2.12rem;
								overflow-y: scroll;
								font-size: 0;
								width: 100%;
								position: absolute;
								left: -1px;
								right: 0;
								top: 100%;
								z-index: 9;
								margin: 0;
								background-color: $background-color_1;
								border: solid 1px #1D1D1D;
								border-top: none;
								box-sizing: content-box;

								&::-webkit-scrollbar {
									width: 10px;
								}

								&::-webkit-scrollbar-track {
									background-color: $background-color_1;
								}

								&::-webkit-scrollbar-thumb {
									background-color: $background-color_2;
								}

								>.options_item {
									padding: .04rem .08rem;
									display: flex;
									align-items: center;
									cursor: pointer;
									user-select: none;

									&:hover {
										background-color: $background-color_3;
									}

									&:last-child {
										margin-bottom: .08rem;
									}

									>.country {
										width: .16rem;
										margin-right: .04rem;
									}

									>.country.null {
										opacity: 0;
									}

									>.val {
										font-size: .12rem;
									}
								}
							}
						}

						>.select_box.noImg {
							width: .568rem;

							>.show_option {
								>.country {
									display: none;
								}
							}

							>.options {
								>.options_item {
									>.country {
										display: none;
									}
								}
							}
						}

						>.form_item {
							width: 100px;
							flex: 1;
							font-size: .144rem;
							color: $color_2;
							line-height: .416rem;
							border: none;
							border-left: solid 1px #1D1D1D;
							padding: 0 .08rem;
							outline: none;
						}
					}
				}

				>div.phone.error {
					>.item_box {
						border-color: $border-color_1;
						background-color: $background-color_4;

						>.form_item {
							background-color: $background-color_4;
							border-left-color: $border-left-color_2;
						}

						>.select_box {
							>.options {
								border-color: $border-color_1;
								background-color: $background-color_4;
							}
						}
					}
				}

				>div.error {
					>input {
						border-color: $border-color_1;
						background-color: $background-color_4;
					}

					>span {
						display: block;
						position: absolute;
						bottom: 0;
						transform: translateY(110%);
						font-size: .128rem;
						color: $color_3;
						padding-left: .136rem;
					}
				}

				>.submit {
					padding: .096rem .16rem;
					padding-right: .096rem;
					background-color: $background-color_5;
					border: none;
					display: flex;
					align-items: center;

					>span {
						font-size: .112rem;
						color: $color_1;
						letter-spacing: .024rem;
					}

					>img {
						width: .224rem;
						margin-left: .28rem;
					}
				}
			}

			>p {
				font-size: .128rem;
				color: $color_2;
				line-height: 1.3;
				margin-bottom: 0;
				margin-top: .24rem;
			}
		}
	}
}

@media screen and (max-width:767px) {
	.top_msg {
		margin-top: .4831rem;
		margin-bottom: .4831rem;
	}

	.pageTitleBox {
		position: relative;

		.pageTitle {
			font-size: .7971rem;
		}

		p {
			font-size: .3865rem;
			margin-top: .3623rem;
			margin-bottom: .6039rem;
		}
	}

	.left_content {
		padding: 0;

		.event {
			.event_content {
				padding: 0 .4831rem;
				padding-bottom: .4831rem;
				margin-top: .7246rem;

				h3 {
					font-size: .7246377rem !important;
					margin-top: .7246377rem !important;
					margin-bottom: .4831rem !important;
				}

				p {
					font-size: .3864734rem !important;
					margin-bottom: .4831rem !important;

				}

				span {
					font-size: .3864734rem !important;
				}
			}
		}
	}

	.login_box {
		padding: .628rem .4831rem;
		position: static;

		>.login {
			>.time_box {
				>.days_box {
					padding: .3623rem;

					>.days_content {
						>.days_row {
							>.day {
								font-size: .4831rem;
							}

							>span {
								font-size: .4831rem;
							}
						}

						>.month {
							font-size: .5314rem;
						}
					}
				}

				>.time_info {
					>p {
						font-size: .3865rem;
						padding-left: .7246rem;
						background-size: .5314rem auto;

						>span {
							font-family: $font-family_1;
						}
					}

					padding: .5072rem .2657rem;
				}
			}

			>.form_box {
				margin-top: .6522rem;
				overflow-y: unset;
				padding: .628rem .4348rem;
				padding-top: 0;
				height: auto;

				>h4 {
					font-size: .5314rem;
					padding: .628rem 0 .4831rem;
				}

				>form {
					>div {
						margin-bottom: .9662rem;

						>.input_title {
							font-size: .4348rem;
							margin-bottom: .2415rem;
						}

						>input {
							font-size: .4347826rem;
							padding: .4347826rem .3140097rem;
						}
					}

					>div.phone {
						>.item_box {
							>.select_box {
								width: 2.8986rem;
								padding: 0 .3623rem;

								>.show_option {
									padding-right: .3623rem;

									>.country {
										width: .5314rem;
										margin-right: .1932rem;
									}

									>.val {
										font-size: .3865rem;
									}
								}

								>.options {
									height: 7.2464rem;

									>.options_item {
										padding: .1932rem .3623rem;

										>.country {
											width: .5314rem;
											margin-right: .1932rem;
										}

										>.val {
											font-size: .3865rem;
										}
									}
								}
							}

							>.select_box.noImg {
								width: 1.9565rem;
							}

							>.form_item {
								font-size: .4348rem;
								padding: .4348rem .3623rem;
							}
						}
					}

					>div.error {
						>span {
							font-size: .3865rem;
						}
					}

					>.submit {
						padding: .1932rem .4831rem;
						padding-right: .2415rem;

						>span {
							font-size: .3382rem;
						}

						>img {
							width: .6763rem;
							margin-left: .8454rem;
						}
					}
				}

				>p {
					font-size: .3865rem;
					margin-top: .7246rem;
				}
			}
		}
	}
}